
.DS_Store

.DS_Store


new_dataset_files/Cognato_2001 copy/alignment.phy

new_dataset_files/Cognato_2001 copy/partition_finder.cfg

new_dataset_files/Day_2013/partition_finder.cfg

new_dataset_files/Delsuc_2003/partition_finder.cfg

new_dataset_files/Cognato_2001 copy/README.yaml
